.nav {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    position: fixed;
    margin-top: 0;
    width: 100%;
}

.nav * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.nav a {
    padding: 0.3em 0;
    color: #212121;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.nav a:before,
.nav a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #212121;
}

.nav a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #212121;
    white-space: nowrap;
}

.nav li:hover a,
.nav .current a {
    transform: translateY(100%);
}

.main {
    margin-top: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
}

.image {
    position: fixed;
    margin-top: 60px;
    -webkit-filter: black(90%);
    filter: black(90%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: whitesmoke;
    border-radius: 25px;
}

.card {
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 80px;
    margin-left: 500px;
    margin-right: 20px;
    border-radius: 1rem;
    background: #7f7f7f;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

p,
a {
    font-size: 1rem;
}

a {
    color: #4d4ae8;
    text-decoration: none;
}